[*.cs]

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# SA1520: Use braces consistently
dotnet_diagnostic.SA1520.severity = silent
